// ESTILOS DEL CONTENIDO DE LA PÁGINA
.nosotros{
    img{
        width: 100%;
        margin: $espacioTitulos 0;
    }
    .objetivos{
        list-style-position: inside;
        list-style-image: url(../media/reciclar.png);
        padding-left: $espacioSeccion;
        .objetivo{
            margin-bottom: $espacioParrafosReducido;
        }
    }
}

.retiro{
    ul{
        list-style-image: url(../media/camion.png);
        list-style-position: inside;
        padding-left: $espacioSeccion;
        .detalle-retiro{
            margin-bottom: $espacioParrafosReducido;
        }
    }
}

