*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

body{
    font-family: $fuenteTextos;
    color: $colorBaseNegro;
    background-color: $colorBaseBlanco;
    display: none;
}

h1, h2{
    font-family: $fuenteTitulos;
    margin-bottom: $espacioTitulos;
}

section{
    margin-bottom: $espacioSeccion;
}

p, h3{
    margin-bottom: $espacioParrafos;
}

a{
    text-decoration: none;
    color: $colorBaseNegro;
    &:hover{
        color: $colorPrincipal;
    }
}

button{
    all: revert;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    padding: 0;
    margin: 0;
    // transition: transform 0.1s;
    // &:hover{
    //     transform: scale(1.05);
    // }
    cursor: pointer;
}

.button {
    border: 1px $colorPrincipal solid;
    border-radius: 0;
    background: $colorBaseBlanco;
    color: $colorPrincipal;
    font-size: 1rem;
    line-height: 1.2;
    white-space: nowrap;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    transition: background-color 0.15s;
    &:hover{
        background-color: $colorCompClaro;
    }
    &.button-principal{
        background: $colorPrincipal;
        color: $colorBaseBlanco;
        &:hover{
            background-color: $colorSecundario;
        }
    }
}


.contenedor{
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.deshabilitado{
    display: none;
}

.no-items{
    font-size: 1.25rem;
    font-family: $fuenteTitulos;
}

@mixin card($ancho){
    width: $ancho;
    margin-bottom: $espacioParrafos;
    background-color: $colorBaseBlanco;
    border: 1px solid rgba(48, 52, 64, 0.18);
}

@mixin fondoGlassmorph($color: rgba(255, 255, 255, 0.149), $siSombra: true){
    background: $color;
    @if $siSombra {
        box-shadow: $sombra;
    }
    backdrop-filter: blur( 7.0px );
    -webkit-backdrop-filter: blur( 7.0px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}