@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,400&display=swap');

//Colores
$colorBaseBlanco: #fff;
$colorPrincipal: #BA3365;
$colorSecundario: #52B788;
$colorCompOscuro: #EA638C;
$colorCompClaro: #ffd9da;
$colorBaseNegro: #1B2021;
$colorBaseNegroTransparente: rgba(28, 33, 34, 0.90);
$colorBaseGris: #30343F;
$colorFondoModal:rgba(0, 0, 0, 0.85);
$sombra:  0 8px 32px 0 rgba(48, 52, 63, 0.369);

//Fuentes
$fuenteTitulos: 'Montserrat', sans-serif;
$fuenteTextos: 'Roboto', sans-serif;

//Tamaños
$sizeLogo: 2rem;

//Espaciados
$espacioSeccion: 2rem;
$espacioTitulos: 1rem;
$espacioParrafos: 0.5rem;
$espacioParrafosReducido: 0.15rem;